
@model  Vidly.Models.Customer

@*
    This is a comment!
*@
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>@Model.Name</h2>
    <h2>@Model.MembershipType.DiscountRate</h2>
