
@model  IEnumerable<Vidly.Models.Customer>

@*
    This is a comment!
*@
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2></h2>
@{
    <ul>
        @foreach (var customer in Model)
        {
            <li>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</li>
            <li>@customer.MembershipType.Name</li>
        }
    </ul>
}